.about {
  max-width: 700px;
  margin: 0 auto;
  h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
    line-height: 1.5;
    margin-bottom: 1rem
  };

  a {
    display: inline-block;
    position: relative;
    &::after{
      @include link-hovered-after;
      // content: '';
      // display: block;
      // height: 2px;
      // width: 0px;
      // background: $light-orange;
      // margin-top: 4px;
      // position: absolute;
      // transition: .2s;
    }
    &:hover::after{
      width: 100%;
    }
  }
}
